<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">



<body>

<div th:fragment="header">

<h1>HEADER CONTENT</h1>


       
        
        <div class="logout"  sec:authorize="isAuthenticated()">
            Logged user: <span sec:authentication="name">Bob</span> |
            Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
            
             <form th:action="@{/logout}" method="post">
            	<input type="submit" value="Sign Out"/>
        	</form>
           
        </div>

</div>
</body>

</html>