<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link  th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link  th:href="@{/css/bootstrap-responsive.css}" rel="stylesheet" media="screen"/>
    <link  th:href="@{/css/todc-bootstrap.css}" rel="stylesheet" media="screen"/>
</head>
<body>


<div th:replace="fragments/header :: header">

</div>

<hr/>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      	
      	
      	<div th:replace="fragments/leftMenu :: leftMenu">
      	
      		 SAMPLE LEFT MENU

		</div>
      	
    </div>
    <div class="span10">
    
    	<div layout:fragment="content">


  			 SAMPLE LAYOUT CONTENT area
    
		</div>   
     
    </div>
  </div>
</div>



<hr/>

<div th:replace="fragments/footer :: footer">

</div>

</body>
</html>