<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<div th:fragment="leftMenu">
	
	<ul class="nav nav-list">
		  <li class="nav-header">List header</li>
		  <li class="active"><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		  <li class="divider"></li>
		  <li class="nav-header">List header</li>
		   <li class="divider"></li>
		   <li ><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		   <li ><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		   <li ><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>

	</ul>


</div>

</body>

</html>